@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans Light"),
    local("OpenSans-Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans"),
    local("OpenSans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:
    local("Gilroy Light"),
    local("Gilroy-Light"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:
    local("Gilroy ExtraBold"),
    local("Gilroy-ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

/* _________________________ global style */

body {
  /*Позиционирование*/
  /*Блочная модель*/
  min-width: 1200px;
  margin: 0;
  padding: 0;
  /*Типографика*/
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  /* P = X * S / 1000, где X — трекинг в PS, S — размер шрифта */
  letter-spacing: 0.15px;
  color: #464646;
  /*Оформление*/
  background-color: #ffffff;
  /*Анимация*/
  /*Разное*/
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* _________________________ hide */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* __________________________________________________ header */

.page-header {
  background-image: linear-gradient(to bottom, transparent, transparent 40px, #f7e296 40px, #f7e296 100%);
}

/* _________________________ logo-device */

.logo-device {
  line-height: 0;
}

.logo-device[href]:hover {
  opacity: 0.6;
}

.logo-device[href]:active {
  opacity: 0.3;
}

.logo-device__image {
  fill: #000;
}

/* _________________________ search */

.search-form {
  position: relative;
  height: 50px;
  font-size: 0;
}

.search-form__label {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 38px;
  height: 50px;
  font-size: 15px;
}

.search-form__image {
  margin: 18px 0 0 3px;
}

.search-form__input {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 4px 0 38px;
  width: 355px;
  height: 50px;
  font-size: 15px;
  color: #000000;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  opacity: 0.3;
}

.search-form__input:hover {
  opacity: 0.6;
}

.search-form__input:focus {
  outline: none;
  border-bottom: 2px solid #000;
  opacity: 1;
}

.search-form__input:focus + .search-form__button {
  visibility: visible;
}

.search-form__button {
  position: absolute;
  bottom: 0;
  left: 355px;
  width: 85px;
  height: 50px;
  border: 2px solid #000000;
  margin-left: 0;
  font-size: 15px;
  background-color: transparent;
  visibility: hidden;
}

.search-form__button:hover,
.search-form__button:focus {
  background-color: #000;
  color: #fff;
  visibility: visible;
}

.search-form__button:active {
  background-color: #000;
  color: rgba(255, 255, 255,  0.3);
  visibility: visible;
}

/* _________________________ user-menu */

.user-menu {
  margin: 0;
  padding-left: 20px;
  list-style: none;
}

.user-menu__item {
  margin: 0 20px;
}

.user-menu__item:first-child {
  margin-left: 0;
}

.user-menu__item:last-child {
  margin-right: 0;
}

.user-menu__item.user-menu__item--logout {
  margin: 0 20px 0 0;
}

.user-menu__link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #000;
}

.user-menu__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-menu__link--logout,
.user-menu__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-menu__image {
  fill: #000;
  opacity: 1;
}

.user-menu__link:hover .user-menu__image {
  opacity: 0.6;
}

.user-menu__link:active .user-menu__image {
  opacity: 0.3;
}

/* _________________________ site-menu */

.site-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-menu__item {
  margin: 0 20px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.site-menu__link {
  font: inherit;
  color: #000;
}

.site-menu__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.site-menu__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-menu__item--dropdown {
  position: relative;
}

.site-menu__link--dropdown {
  position: relative;
  padding-right: 28px;
}

.site-menu__link--dropdown::before,
.site-menu__link--dropdown::after {
  position: absolute;
  content: "";
  background-color: #b8a974;
}

.site-menu__link--dropdown::before {
  top: 10px;
  right: 0;
  width: 16px;
  height: 2px;
}

.site-menu__link--dropdown::after {
  top: 3px;
  right: 7px;
  width: 2px;
  height: 16px;
}

.site-menu__item--dropdown:hover .site-menu__link--dropdown::after,
.site-menu__link--dropdown:hover::after {
  background-color: transparent;
}

.site-submenu {
  position: absolute;
  top: 22px;
  left: -60px;
  z-index: 1;
  margin: 0;
  padding: 20px 480px 35px 60px;
  width: 620px;
  height: 110px;
  background-color: #f7e296;
  visibility: hidden;
  opacity: 0;
  list-style: none;
}

.site-menu__link--dropdown:hover + .site-submenu,
.site-menu__link--dropdown:focus + .site-submenu,
.site-submenu:hover {
  visibility: visible;
  opacity: 1;
}

.site-submenu__item {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #000;
}

.site-submenu__link {
  font: inherit;
  color: #000;
  text-transform: none;
}

.site-submenu__link:hover {
  opacity: 0.6;
}

.site-submenu__link:not([href]),
.site-submenu__link:active {
  opacity: 0.3;
}

/* __________________________________________________ main index.html*/

.main-content {
  background-color: #fff;
}

/* _________________________ gadgets-slider */

.gadgets-slider {
  position: relative;
  background-image: linear-gradient(to bottom, #f7e296, #f7e296 113px, transparent 113px, transparent 100%);
}

.gadgets-slider__switches-list {
  position: absolute;
  bottom: 145px;
  right: 80px;
  z-index: 1;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.gadgets-slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gadgets-slider__image {
  margin: 0 auto;
  display: block;
}

.gadgets-slider__title {
  margin: 40px 0 10px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.47px;
  color: #000;
}

.gadgets-slider__text {
  margin: 20px 0;
  font: inherit;
}

.gadgets-slider__button {
  margin: 45px 0;
  width: 220px;
}

.gadgets-slider__table td {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.36px;
  color: #000;
}

.gadgets-slider__table th {
  padding-right: 75px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #000;
}

/* _________________________ catalog */

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item:not(:last-child) {
  padding-right: 40px;
}

.catalog__link {
  display: block;
  width: 160px;
  min-height: 160px;
  background-image: linear-gradient(to bottom, #f7e296, #f7e296 160px, transparent 160px, transparent 100%);
}

.catalog__link:hover,
.catalog__link:focus {
  background-image: linear-gradient(to bottom, #f0c52e, #f0c52e 160px, transparent 160px, transparent 100%);
}

.catalog__link:active .catalog__subtitle {
  opacity: 0.3;
}

.catalog__subtitle {
  padding-top: 195px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000;
}

.catalog__item:nth-child(1) .catalog__subtitle {
  background-image: url("../img/catalog-1.svg");
  background-repeat: no-repeat;
  background-position: 31px 52px;
}

.catalog__item:nth-child(2) .catalog__subtitle {
  background-image: url("../img/catalog-2.svg");
  background-repeat: no-repeat;
  background-position: 38px 43px;
}

.catalog__item:nth-child(3) .catalog__subtitle {
  background-image: url("../img/catalog-3.svg");
  background-repeat: no-repeat;
  background-position: 49px 38px;
}

.catalog__item:nth-child(4) .catalog__subtitle {
  background-image: url("../img/catalog-4.svg");
  background-repeat: no-repeat;
  background-position: 28px 50px;
}

.catalog__item:nth-child(5) .catalog__subtitle {
  background-image: url("../img/catalog-5.svg");
  background-repeat: no-repeat;
  background-position: 55px 32px;
}

.catalog__item:nth-child(6) .catalog__subtitle {
  background-image: url("../img/catalog-6.svg");
  background-repeat: no-repeat;
  background-position: 13px 49px;
}

/* _________________________ services */

.services {
  background-image: linear-gradient(to bottom, transparent, transparent 100px, #e5e5e5 100px, #e5e5e5 100%);
}

.services__list {
  margin: 0;
  padding: 80px 0 0;
  width: 300px;
  list-style: none;
}

.services__item {
  padding-bottom: 25px;
}

.services__button {
  width: 160px;
  padding: 0;
}

.services__item .services__button--current,
.services__item .services__button--current:hover,
.services__item .services__button:active {
  padding-right: 120px;
  width: 280px;
  background-color: #000;
  background-image: none;
  color: #f7e184;
}

.services__tab {
  width: 760px;
  padding-top: 75px;
}

.services__tab--hidden {
  display: none;
}

.services__title {
  margin: 0;
  padding-bottom: 15px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000;
}

.services__text {
  width: 460px;
  font: inherit;
}

/* _________________________ brands */

.brands__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.brands__item:not(:last-child) {
  padding-right: 40px;
}

.brands__link {
  display: block;
  width: 260px;
  height: 100px;
}

.brands__link--dji {
  background-image: url("../img/logo-dji-gray.png");
}

.brands__link--spg {
  background-image: url("../img/logo-spg-gray.png");
}

.brands__link--gopro {
  background-image: url("../img/logo-gopro-gray.png");
}

.brands__link--vive {
  background-image: url("../img/logo-vive-gray.png");
}

.brands__image {
  opacity: 0;
  visibility: hidden;
}

.brands__link:hover .brands__image,
.brands__link:focus .brands__image {
  opacity: 1;
  visibility: visible;
}

/* _________________________ about */

.about__title {
  margin: 50px 0 40px 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000;
}

.about__list {
  margin: 0;
  padding: 50px 0;
  list-style: none;
}

.about__item {
  position: relative;
  padding-left: 34px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0.16px;
  color: #000;
}

.about__item::before {
  position: absolute;
  top: 16px;
  left: 0;
  width: 4px;
  height: 4px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  content: "";
}

.about__button {
  width: 260px;
  height: 40px;
}

/* _________________________ button-link */

.button-link {
  display: block;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 3.6px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  background-image: linear-gradient(to bottom, transparent, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px, transparent 40px);
}

.button-link:hover {
  background-color: #f0c52e;
}

.button-link:active {
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}

/* _________________________ contacts */

.contacts__title {
  margin: 50px 0 40px 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000;
}

.contacts__map-link {
  margin: 20px 0;
}

.contacts__button {
  width: 260px;
  height: 40px;
}

/* __________________________________________________ main inner.html*/

.main-content__title {
  margin: 0;
  padding: 35px 0 25px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000;
}

/* _________________________ breadcrumbs */

.breadcrumbs {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.breadcrumbs__item {
  padding: 0 10px;
}

.breadcrumbs__item:first-child {
  padding-left: 0;
}

.breadcrumbs__item:last-child,
.breadcrumbs__link {
  color: #000;
  opacity: 0.3;
}

.breadcrumbs__link:hover {
  opacity: 0.6;
}

.breadcrumbs__link:active {
  opacity: 0.1;
}

/* _________________________ filters */

.filters {
  font: inherit;
  color: #000;
  background-image: linear-gradient(to bottom, #d9d9d9, #d9d9d9 70px, #ebebeb 70px, #ebebeb 100%);
}

.filters__title,
.sort__title {
  margin-right: 35px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: #000;
  text-align: left;
  text-transform: uppercase;
}

.filters-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filters-form__legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000;
}

.filters-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters-form__input:disabled + .filters-form__label {
  color: #a6a6a6;
}

.filters-form__button {
  width: 200px;
  height: 40px;
}

/* _________________________ button */

.button {
  display: block;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 3.6px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  background-image: linear-gradient(to bottom, transparent, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px, transparent 40px);
}

.button:hover {
  background-color: #f0c52e;
}

.button:active {
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}

/* _________________________ products */

.products {
  font: inherit;
  color: #000;
  background-image: linear-gradient(to bottom, #ebebeb, #ebebeb 70px, #fff 70px, #fff 100%);
}

.sort__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort__item {
  margin: 0 15px;
}

.sort__link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.14px;
  color: #000;
  opacity: 0.3;
}

.sort__link:hover {
  opacity: 0.6;
}

.sort__link--current,
.sort__link:active {
  opacity: 1;
}

.choice {
  margin-left: auto;
}

.choice__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.choice__item:first-child {
  margin-right: 19px;
}

.choice__link {
  display: block;
  width: 0;
  height: 0;
  border: 10px solid #000;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.choice__link--ascending {
  border-top-width: 0;
  border-top-color: transparent;
  border-bottom-width: 10px;
}

.choice__link--descending {
  border-top-width: 10px;
  border-bottom-width: 0;
  border-bottom-color: transparent;
}

.choice__link--current {
  opacity: 0.2;
}

/* _________________________ products__items */

.products__items {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.products__item {
  margin: 0 40px 45px 0;
}

.products__item:nth-child(2n) {
  margin-right: 0;
}

/* _________________________ gadget */

.gadget {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  width: 360px;
}

.gadget__image {
  background-color: #efefef;
}

.gadget__image-link {
  margin-bottom: 30px;
  line-height: 0;
}

.gadget__title {
  width: 260px;
}

.gadget__title,
.gadget__price {
  margin: 0;
  padding: 0;
}

.gadget__title,
.gadget__title-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000;
}

.gadget__title-link:hover {
  opacity: 0.6;
}

.gadget__title-link:active {
  opacity: 0.3;
}

.gadget__price {
  margin-left: auto;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #464646;
}

.gadget__cover {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 380px;
  background-color: rgba(238, 238, 238, 0.7);
  visibility: hidden;
  opacity: 0;
}

.gadget__image-link:hover ~ .gadget__cover,
.gadget__cover:hover {
  visibility: visible;
  opacity: 1;
}

.gadget__basket-button {
  margin-bottom: 25px;
  width: 200px;
  height: 40px;
}

.compare-button {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  background: transparent;
}

.compare-button:hover {
  color: rgba(0, 0, 0, 1);
}

.compare-button:active {
  color: rgba(0, 0, 0, 0.2);
}

/* _________________________ pagination */

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ebebeb;
}

.pagination__item {
  margin: 0 15px;
}

.pagination__item:first-child {
  margin: 0 auto 0 0;
  min-width: 150px;
}

.pagination__item:last-child {
  margin: 0 0 0 auto;
  min-width: 150px;
  text-align: right;
}

.pagination__link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.pagination__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination__link:active,
.pagination__link--current {
  color: rgba(0, 0, 0, 1);
}

.pagination__item:first-child .pagination__link,
.pagination__item:last-child .pagination__link {
  display: inline-block;
  padding: 0 30px;
  line-height: 70px;
  color: rgba(0, 0, 0, 1);
}

.pagination__item:first-child .pagination__link:hover,
.pagination__item:last-child .pagination__link:hover {
  background-color: #d9d9d9;
}

.pagination__item:first-child .pagination__link:active,
.pagination__item:last-child .pagination__link:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

/* __________________________________________________ footer */

.page-footer {
  color: #fff;
  background-color: #464646;
}

/* _________________________ logo-device */

.page-footer .logo-device__image {
  fill: #ffc600;
}

/* _________________________ user-menu */

.page-footer .user-menu__link {
  color: rgba(255, 255, 255, 0.7);
}

.page-footer .user-menu__link:hover {
  color: rgba(255, 255, 255, 1);
}

.page-footer .user-menu__link--logout,
.page-footer .user-menu__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer .user-menu__image {
  fill: #ffc600;
}

/* _________________________ address & tel */

.page-footer__address,
.page-footer__tel {
  margin: 0;
  padding: 0;
  font-style: normal;
  letter-spacing: normal;
}

.page-footer__tel {
  text-align: right;
}

.page-footer__tel-link {
  color: #fff;
}

.page-footer__tel-link:hover {
  opacity: 0.6;
}

.page-footer__tel-link:active {
  opacity: 0.3;
}

/* _________________________ site-menu */

.page-footer .site-menu__link {
  line-height: 34px;
  color: #fff;
}

.page-footer .site-menu__link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.page-footer .site-menu__link:active {
  color: rgba(255, 255, 255, 0.3);
}

/* _________________________ socials */

.socials {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 0;
}

.socials__link {
  display: inline-block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.socials__link:hover {
  opacity: 0.6;
}

.socials__link:active {
  opacity: 0.1;
}

.socials__link--facebook {
  background: url("../img/facebook.svg") no-repeat;
}

.socials__link--instagram {
  background: url("../img/instagram.svg") no-repeat;
}

.socials__link--twitter {
  background: url("../img/twitter.svg") no-repeat;
}

/* _________________________ logo-htmlacademy */

.logo-htmlacademy {
  line-height: 0;
}

.logo-htmlacademy:hover {
  opacity: 0.6;
}

.logo-htmlacademy:active {
  opacity: 0.3;
}

.logo-htmlacademy__image {
  fill: #ffc600;
}

/* __________________________________________________ header flex grids */

.page-header {
  position: relative;
  width: 1040px;
  margin: 0 auto;
  padding: 72px 60px 50px;
}

.page-header__logo {
  position: absolute;
  top: 23px;
  left: 60px;
}

.page-header__row {
  display: flex;
}

.page-header__nav {
  display: flex;
  padding-top: 30px;
}

.search-form {
  flex: 0 0 50%;
}

.user-menu {
  display: flex;
  align-self: center;
  flex: 0 1 50%;
}

.user-menu__item:first-child {
  flex-grow: 1;
}

.user-menu__item.user-menu__item--user {
  flex-grow: 0;
}

.user-menu__item.user-menu__item--logout {
  flex-grow: 1;
}

.site-menu {
  display: flex;
}

.page-header .site-menu {
  width: 100%;
}

.site-menu__item:first-child {
  flex: 0 1 50%;
  margin: 0;
}

.site-menu__item:nth-last-child(2) {
  flex-grow: 1;
  margin-left: 15px;
}

.site-menu__item:last-child {
  margin: 0 -3.6px 0 0; /* компенсирует letter-spacing */
}

.site-submenu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.site-submenu__item:nth-child(5n) {
  flex: 0 0 calc(100% - 36px);
}

.site-submenu__item:nth-child(6n) {
  flex: 0 0 100%;
}

/* __________________________________________________ main-content flex grids */

/* _________________________ main-content__gadgets-slider */

.main-content__gadgets-slider {
  margin: 0 auto;
  padding: 0;
  width: 1160px;
  min-height: 495px;
}

.gadgets-slider__item {
  display: flex;
}

.gadgets-slider__item--hidden {
  display: none;
}

.gadgets-slider__col {
  flex-basis: 560px;
}

.gadgets-slider__col:first-child {
  margin-right: 40px;
}

.gadgets-slider__col:last-child {
  padding-top: 39px;
}

/* _________________________ main-content__catalog */

.main-content__catalog {
  margin: 80px auto;
  padding: 0 20px;
  width: 1160px;
  min-height: 100px;
}

.catalog__list {
  display: flex;
}

/* _________________________ main-content__services */

.main-content__services {
  display: flex;
  min-height: 388px;
}

.services__col:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-basis: calc((100% - 1160px) / 2 + 300px);
}

.services__col:last-child {
  flex-basis: calc((100% - 1160px) / 2 + 760px);
  padding-left: 100px;
}

/* _________________________ main-content__brands */

.main-content__brands {
  margin: 80px auto;
  padding: 0 20px;
  width: 1160px;
  min-height: 100px;
}

.brands__list {
  display: flex;
}

/* _________________________ main-content__info */

.main-content__info {
  display: flex;
  justify-content: space-between;
  margin: 80px auto;
  padding: 0 20px;
  width: 1160px;
  min-height: 570px;
}

.main-content__about,
.main-content__contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 50%;
}

.main-content__about {
  padding-right: 40px;
}

.about__text {
  width: 485px;
}

.about__button,
.contacts__button {
  margin-top: auto;
}

/* _________________________ main-content__header */

.main-content__header {
  margin: 0 auto;
  padding: 0 60px;
  width: 1040px;
  min-height: 180px;
}

.main-content__breadcrumbs {
  display: flex;
}

.main-content__container {
  display: flex;
}

/* _________________________ main-content__filters */

.main-content__filters {
  flex-basis: calc((100% - 1160px) / 2 + 260px);
  padding-right: 70px;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.filters__header {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  width: 200px;
  min-height: 70px;
}

.filters__form {
  width: 200px;
}

/* _________________________ main-content__products */

.main-content__products {
  flex-basis: calc((100% - 1160px) / 2 + 760px);
  padding-left: 70px;
}

.products__items {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
}

/* _________________________ products__header */

.products__header {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  width: 760px;
  min-height: 70px;
}

.products__sort,
.sort__items,
.choice__items {
  display: flex;
  align-items: center;
}

/* _________________________ products__pagination */

.products__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  width: 760px;
  min-height: 70px;
}

/* __________________________________________________ footer flex grids */

.page-footer__inner {
  margin: 0 auto;
  padding: 45px 20px;
  width: 1160px;
}

.page-footer__row {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.page-footer__row:nth-child(2) {
  padding: 10px 0 40px;
}

.page-footer__user-menu {
  align-self: flex-start;
  flex: 0 0 auto;
}

.page-footer__address,
.page-footer__tel {
  flex: 0 0 20%;
}
.page-footer__site-menu {
  justify-content: center;
  flex: 0 0 auto;
  flex: none;
}

.page-footer .site-menu__item {
  flex: none;
  margin: 0 18px;
}

.page-footer__socials {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
  padding-left: 27px;
}

.page-footer__socials .socials__item {
  padding: 0 11px;
  min-height: 33px;
}
